@media (max-width: 1023px) {
  .menu{
    display: none;
  }

  .banner-wrap{
    width: 100%;
  }
  .banner-column .banner-column__left{
    width: 100%;
    padding: 30px 15px;
  }
  .logos-div{
    padding-left: 40%;    
  } 
  .logos{
    display: inline;
  }
  .logos li{
    padding-bottom: 12px;
  }

  .image-section{
    width: 100%;
  }








  /* Footer */
  .footer-wrap {
    width: 100%;
  }
}

@media(max-width:768px){
  .menu{
    display: none;
  }
  .banner-column .banner-column__left{
    width: 100%;
    padding: 30px 15px;
  }
}