@media (max-width: 991px) {
  .btn {
    padding: 4px 8px;
    background: #ff6433;
    border: none;
  }

  /* Section-1  */
  /* Banner */

 
  .header-left h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .container-fluid img {
    padding-left: 10px;
  }
  .open-info h6 {
    font-size: 14px;
    line-height: 24px;
  }

  .open img {
    padding-right: 0;
  }
  .open-info p {
    font-size: 16px;
    line-height: 24px;
  }
  .banner-right img {
    padding-bottom: 60px;
    padding-top: 40px;
    width: 100%;
  }

  /* Section-2 */
  .service-wrap {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .banner-wrap {
    padding-top: 30px;
  }
  .service_left h2 {
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 10px;
  }
  .feature-content h3 {
    font-size: 22px;
    line-height: 20px;
    padding-bottom: 8px;
  }
  .feature-content p {
    font-size: 14px;
    line-height: 16px;
  }
  .arrow {
    font-size: 16px;
    line-height: 24px;
    padding-left: 50px;
    padding-bottom: 30px;
  }
  .service-right h3 {
    font-size: 30px;
    line-height: 44px;
  }
  .service-form-content input {
    height: 22px;
    border-radius: none;
    width: 100%;
  }

  /* Section-3 */
  .counter-list-wrap {
    padding: 30px 0;
  }
  .counter-list-wrap .title h2 {
    font-size: 30px;
    line-height: 44px;
  }
  .counter-list-wrap .sub-title p {
    padding-bottom: 0;
  }
  .counter-list-wrap .counter-list-grp {
    padding-top: 45px;
    padding-left: 70px;
  }
  .counter-list-wrap .counter-list-grp {
    padding-top: 10px;
  }
  .counter-list-grp h2 {
    font-size: 22px;
    line-height: 40px;
  }
  .counter-list-grp p {
    font-size: 16px;
    line-height: 24px;
  }
  .counter-list-grp ol li::before {
    size: 32px;
  }
  .counter-list-grp ol li::before {
    size: 22px;
  }
  /* Section-4  */
  /* We Offer */
  .we-offer-wrap {
    padding-top: 30px;
  }
  .we-offer-wrap .title-wrap h2 {
    font-size: 30px;
    line-height: 44px;
    padding-top: 10px;
    padding-bottom: 2px;
  }
  .we-offer-wrap .title-wrap {
    padding-bottom: 32px;
    text-align: center;
  }
  .offer-list-wrap > ul > li {
    width: 50%;
  }
  .offer-list-wrap .offer-card:hover {
    background: #ff6433;
    color: #fff;
  }
  .offer-list-wrap .view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
  }
  .get-touch-wrap .left {
    width: 100%;
  }
  .get-touch-wrap .center {
    width: 100%;
  }
  .get-touch-wrap .right {
    width: 100%;
  }


  /*experience*/
  .experience-wrap .d-flex li {
    width: 50%;
    text-align: center;
  }

  /* Section-5  */
  /* Image-Section */
  .get-touch-wrap .center {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .center h2 {
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 0;
  }

  /* Achievements */
  .achievements-wrap {
    padding: 20px 0;
  }
  .achievements-wrap .achievements {
    width: 50%;
  }
  .achievements-wrap .achievements h3 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.03em;
  }
  .achievements-wrap .achievements p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  /* Section-6  */

  /* Brands  */
  .brand-wrap-center {
    padding-top: 20px;
  }
  h2 {
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 0;
  }
  .brand-wrap .brands-logo-wrap.d-flex li {
    width: 50%;
  }
  .brands-logo {
    padding: 0px;
  }
  .brands-logo-wrap.d-flex li {
    padding: 5px 0;
  }

  /* Section-7  */
  .testimonial-wrap {
    padding: 30px 0;
  }

  .testimonial-wrap .testimonial-title > h2 {
    font-size: 30px;
    line-height: 44px;
  }
  .testimonial button svg ellipse,
  .testimonial button svg path {
    display: none;
  }
  /* .img, svg{
    display: none;
  } */

  .testimonial-wrap .testimonial-title {
    padding-bottom: 0;
  }

  /* FAQ */
  .faq-wrap {
    padding: 40px 0;
  }
  .faq-heading h2 {
    font-size: 30px;
    line-height: 44px;
  }
  .accordion {
    padding-top: 30px;
  }
  .accordion-button::after {
    height: 30px;
    width: 30px;
    padding: 4px;
  }
  .accordion-button.collapsed::after {
    padding: 0;
  }

  .faq-wrap .accordion .accordion-button {
    padding: 5px;
  }
  .faq-wrap .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
    line-height: 24px;
  }
  .accordion .accordion-body h3 {
    padding: 0;
    font-size: 12px;
    line-height: 30px;
  }

  /* Footer  */
  .footer-top {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .footer-top .footer-left h2 {
    font-size: 30px;
    line-height: 44px;
    padding-bottom: 30px;
  }
  .footer-bottom ul li {
    padding-top: 30px;
    width: 50%;
  }
  .footer-bottom ul li:nth-child(even) {
    text-align: end;
    width: 50%;
  }
  .footer-bottom ul li:nth-last-child(1) {
    text-align: start;
    width: 100%;
  }
  .copywrite {
    padding-top: 30px;
  }
  ul {
    padding-bottom: 30px;
  }
  .footer-right ul li span {
    font-size: 14px;
    line-height: 24px;
  }
  .footer-right ul li a {
    font-size: 14px;
    line-height: 34px;
  }
  .footer-right ul li {
    padding-bottom: 15px;
  }
  .footer-bottom {
    padding: 0 0;
  }

  .footer-bottom a {
    font-size: 14px;
    line-height: 34px;
  }
  .footer-bottom ul li {
    padding: 8px 0;
  }
  .copywrite {
    padding-top: 0;
  }
}
